body{
    background-color: darkgreen;
}
table{
    background-color: palegreen;
    width: 1000px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
}
.elso{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.kep{
    border: 1px;
    text-align: center;
    text-align: left;
}
.cim{
    font-weight: bold;
}
